BasedOnStyle: LLVM
IndentWidth: 2
ColumnLimit: 90
AlignArrayOfStructures: Right
AlignConsecutiveAssignments: Consecutive
AlignConsecutiveDeclarations: Consecutive
BinPackArguments: true
BinPackParameters: true
Cpp11BracedListStyle: false
IncludeBlocks: Regroup
IncludeCategories:
  - Regex:           '^<glad/glad.h>$'
    Priority:        0
    CaseSensitive:   true
  - Regex:           '^<GLFW/glfw3.h>$'
    Priority:        1
    CaseSensitive:   true
  - Regex:           '^<glm/.*>$'
    Priority:        2
    CaseSensitive:   true
  - Regex:           '^<assimp.*\.h>$'
    Priority:        3
    CaseSensitive:   true
  - Regex:           '^"imgui.*\.h"$'
    Priority:        4
    CaseSensitive:   true
  - Regex:           '^".*"$'
    Priority:        5
  - Regex:           '<[[:alnum:].]+>'
    Priority:        6