BasedOnStyle: LLVM
IndentWidth: 2
ColumnLimit: 80
AlignArrayOfStructures: Right
AlignConsecutiveAssignments: Consecutive
AlignConsecutiveDeclarations: Consecutive
BinPackArguments: true
BinPackParameters: true
BreakTemplateDeclarations: Yes
Cpp11BracedListStyle: false